<h1 onClick="click()">
  {{title}}
</h1>
<ul  id="div5" (drop)="drop($event)" (dragover)="allowDrop($event)">
  <li *ngFor="let item of items">
    <div id="drag2" draggable="true" (dragstart)="drag($event)">
      <h2>{{item}}</h2>
    </div>
  </li>
</ul>
<img id="drag1" src="http://www.w3schools.com/html/img_logo.gif" draggable="true" (dragstart)="drag($event)" width="336" height="69">
<div id="div1" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

<button draggable="true" (dragstart)="drag($event)">hola</button>

